// HEADER NAV STYLES
#navContainerBody {
  position: sticky;
  top: 0;
  z-index: 500;
  @include transition-basic(.7s);
}
// PERSONAL INFO BAR
.nav-personal-info {
  @include nav-personal-info($bgColor: $greenLight, $borderColor: $greenLighter, $fontColor: $white, $iconColor: $f2White);
}
// NAVIGATION BAR
.nav-body {
  @include header-nav($bgColor: $white, $borderColor: $whiteDark, $linkColor: $textGrey, $linkColorHover: $whiteDark, $shoppingCart: $greenLight, $cartNumBg: $f2White, $cartNumColor: $mainBlue);

}
#navContainer {
  @include nav-container($bgColor: $white, $borderColor: $whiteDark, $headerColor: $mainBlue, $shopBorderColor: $whiteDark, $shopBgColor: $f2White, $linkColor: $textGrey);
}
.category-nav {
  @include category-nav($catColor: $mainBlue, $catColorHover: $white, $catBgColor: $white, $catSlideBg: $mainBlue);
}
