



// submit btns outside of forms
@mixin submitBtn($bgColor, $hoverBgColor, $textColor){

      margin: 25px 0 0 15px;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border: solid thin $bgColor;
      font-weight: bold;
      background-color: $bgColor;
      padding: 10px;
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      font-size: 17px;
      width: 93%;
      height: 50px;
      color:  $textColor;
      cursor: pointer;
      line-height: 10px;
      transition: background-color .3s, font-size .4s;
      -webkit-transition: background-color .3s, font-size .4s;
      -moz-transition: background-color .3s, font-size .4s;
      -o-transition: background-color .3s, font-size .4s;

     &:hover {
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        font-weight: bold;
        background-color:  $hoverBgColor;
        padding: 10px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        color:  $textColor;
        cursor: pointer;
        font-size: 18px;
        border: solid thin $bgColor;
  }
      input[type=button] {
        border: none;
        background-color: inherit;
        color:  $textColor;
        padding: 10px 0;
        cursor: pointer;
      }

}
// submit btns outside of forms
@mixin dashboardSubmitBtn($bgColor, $hoverBgColor, $textColor){

      margin: 25px 0 0 25px;
      border: solid thin $bgColor;
      font-weight: bold;
      background-color: $bgColor;
      padding: 10px;
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      font-size: 17px;
      max-width: 280px;
      height: 50px;
      text-align: center;
      color:  $textColor;
      cursor: pointer;
      line-height: 10px;
      transition: background-color .3s, font-size .4s;
      -webkit-transition: background-color .3s, font-size .4s;
      -moz-transition: background-color .3s, font-size .4s;
      -o-transition: background-color .3s, font-size .4s;
      @include translateX(110%);
      @include opacity(0);
      @include animation(scaleBtn, .4s, ease-in-out, 0s, forwards);

     &:hover {
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        font-weight: bold;
        background-color:  $hoverBgColor;
        padding: 10px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        color:  $textColor;
        cursor: pointer;
        font-size: 18px;
        border: solid thin $bgColor;
  }

      input[type=button] {
        border: none;
        background-color: inherit;
        color:  $textColor;
        padding: 10px 0;
        cursor: pointer;
      }


@media only screen and (max-width: 450px){
  margin: 25px auto 0 auto;
  width: 90%;
}
@keyframes scaleBtn {
  100%{
    @include opacity(1);
    @include translateX(0);
  }
}

}

// submit btns outside of forms
@mixin dashboardFullWidthBtn($bgColor, $hoverBgColor, $textColor){

      margin: 25px 0 0 0;
      border: solid thin $bgColor;
      font-weight: bold;
      background-color: $bgColor;
      padding: 10px;
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      font-size: 17px;
      width: 100%;
      height: 50px;
      text-align: center;
      color:  $textColor;
      cursor: pointer;
      line-height: 10px;
      transition: background-color .3s, font-size .4s;
      -webkit-transition: background-color .3s, font-size .4s;
      -moz-transition: background-color .3s, font-size .4s;
      -o-transition: background-color .3s, font-size .4s;

     &:hover {
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        font-weight: bold;
        background-color:  $hoverBgColor;
        padding: 10px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        color:  $textColor;
        cursor: pointer;
        font-size: 18px;
        border: solid thin $bgColor;
  }
      input[type=button] {
        border: none;
        background-color: inherit;
        color:  $textColor;
        padding: 10px 0;
        cursor: pointer;
      }

}
// submit btns outside of forms
@mixin dashboardSubmitLight($bgColor, $hoverBgColor, $textColor){

      margin: 25px 0 0 0;
      border: solid thin $bgColor;
      font-weight: bold;
      background-color: $bgColor;
      padding: 10px;
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      font-size: 17px;
      width: 100%;
      height: 50px;
      text-align: center;
      color:  $textColor;
      cursor: pointer;
      line-height: 10px;
      transition: background-color .3s, font-size .4s;
      -webkit-transition: background-color .3s, font-size .4s;
      -moz-transition: background-color .3s, font-size .4s;
      -o-transition: background-color .3s, font-size .4s;

     &:hover {
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        font-weight: bold;
        background-color:  $hoverBgColor;
        padding: 10px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        color:  $textColor;
        cursor: pointer;
        font-size: 18px;
        border: solid thin $bgColor;
  }
      input[type=button] {
        border: none;
        background-color: inherit;
        color:  $textColor;
        padding: 10px 0;
        cursor: pointer;
      }

}
// submit btns outside of forms wihout text grow on Hover
@mixin submitBtnNoGrowText($bgColor, $hoverBgColor, $textColor){

      margin: 25px 0 0 0;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border: solid thin $bgColor;
      font-weight: bold;
      background-color: $bgColor;
      padding: 10px;
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      font-size: 17px;
      width: 100%;
      max-width: 300px;
      height: 50px;
      color:  $textColor;
      cursor: pointer;
      line-height: 10px;
      transition: background-color .3s, font-size .4s;
      -webkit-transition: background-color .3s, font-size .4s;
      -moz-transition: background-color .3s, font-size .4s;
      -o-transition: background-color .3s, font-size .4s;

     &:hover {
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        font-weight: bold;
        background-color:  $hoverBgColor;
        padding: 10px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        width: 100%;
        color:  $textColor;
        cursor: pointer;
        border: solid thin $bgColor;
  }

}
// Input Container for all Form input Fields
@mixin form($height, $heightSmall, $top, $mainBlue, $white, $maxWidth) {


      border: solid 1px $white;
      border-radius: 4px;
     -moz-border-radius: 4px;
     -webkit-border-radius: 4px;
     box-shadow: 0 0 20px 1px rgba(0,0,0, .2);
     margin: 0 auto 150px auto;
     padding: 0 0 50px 0;
     background-color: $white;
     text-align: center;
     max-width: $maxWidth;
     width: 100%;
     height: $height;
     position: relative;
     top: $top;
     z-index: 110;

      h3 {
         text-decoration: underline;
         margin: 0 auto;
         color: $mainBlue;
         font-size: 25px;
         padding: 20px 0;
         background-color: #FFFFFF;
         width: 100%;
         border-bottom: solid thin #e8e8e8;
         border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
        position: relative;
        overflow: hidden;

     }
     .crossingLine {
       width: 100%;
       height: 2px;
       position: absolute;
       bottom: 0;
       left: 0;
       background: linear-gradient(to right, rgb(255, 255, 255), rgb(200, 200, 200));
       animation: crossingLine 3s linear infinite;
     }
     @keyframes crossingLine {
       0% {
          transform: translateX(-100%);
       }
       100% {
          transform: translateX(100%);
       }
     }
     @-webkit-keyframes crossingLine {
       0% {
          transform: translateX(-100%);
       }
       100% {
          transform: translateX(100%);
       }
     }
     @-moz-keyframes crossingLine {
       0% {
          transform: translateX(-100%);
       }
       100% {
          transform: translateX(100%);
       }
     }
     @-o-keyframes crossingLine {
       0% {
          transform: translateX(-100%);
       }
       100% {
          transform: translateX(100%);
       }
     }
      .form {
        width: 100%;
        height: 100%;
      }
     // Container of Input fields in forms
        .inputContainer {
          position: relative;
          margin: 0 auto;
          padding: 0;
          width: 100%;
        }
        .formInput {
           width: 100%;
           margin: 0 auto;

         }
         .formInput:focus {
            box-shadow: 0 0 5px 2px rgba(0,0,0, .3);
            outline: none;

          }



          .labelStyle {
              font-size: 15px;
              color: #969696;
              display: block;
              min-width: 125px;
              text-align: left;
              position: absolute;
              top: 0px;
              left: 5px;
              z-index: 15;
              @include transition-basic(.3s);

          }
          input:focus ~ .labelStyle, textarea:focus ~ .labelStyle, select:focus ~ .labelStyleSelect {
            font-size: 12px;
            color: $mainBlue;
            display: block;
            min-width: 125px;
            position: absolute;
            z-index: 15;
            @include transition-basic(.3s);
          }

          .labelStyleSelect {
            font-size: 15px;
            color: #969696;
            display: block;
            min-width: 125px;
            text-align: left;
            position: absolute;
            top: 0;
            left: 5px;
            z-index: 15;
            @include transition-basic(.3s);
          }
          textarea:focus, input:focus{
              outline: none;

           }
           select {
               margin: 35px 0 0 0;
               font-size: 17px;
               color: #3e3e3e;
               display: inline-block;
               text-align: center;
               text-align-last: center;
               width: 100%;
               height: 45px;
               line-height: 50px;
               border-radius: 4px;
               -webkit-border-radius: 4px;
               -moz-border-radius: 4px;
             }
             option {
               color: #3e3e3e;
               text-align: center;
             }

              .form-control {
                padding-top: 20px;
                margin: 35px 0 0 0;
                font-size: 16px;
                color: #3e3e3e;
                display: block;
                text-align: center;
                width: 100%;
                background-color:   #FFFFFF;
                position: relative;
                z-index: 10;
              }

               .form small {
                 position: absolute;
                 bottom: -25px;
                 left: 12%;
                 width: 250px;
                 text-align: center;
                 background-color: rgb(235, 157, 140);
               }
               .submitBtn {
                   margin: 50px 0 0 0;
                   border-radius: 3px;
                   -moz-border-radius: 3px;
                   -webkit-border-radius: 3px;
                   border: solid thin  $mainBlue;
                   font-weight: bold;
                   background-color: $mainBlue;
                   padding: 10px 10px 10px 10px;
                   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                   font-size: 17px;
                   width: 100%;
                   height: 50px;
                   color:  #FFFFFF;
                   cursor: pointer;
                   line-height: 10px;
                   transition: background-color .3s, font-size .4s;
                   -webkit-transition: background-color .3s, font-size .4s;
                   -moz-transition: background-color .3s, font-size .4s;
                   -o-transition: background-color .3s, font-size .4s;
                 }
                  .submitBtn:hover {
                     border-radius: 3px;
                     -moz-border-radius: 3px;
                     -webkit-border-radius: 3px;
                     font-weight: bold;
                     background-color:  #264761;
                     padding: 10px 10px 10px 10px;
                     font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                     width: 100%;
                     color:  #FFFFFF;
                     cursor: pointer;
                     font-size: 20px;
               }

      @media only screen and (max-width: 768px){
        max-width: 70%;
        margin: 0 0;
        height: $heightSmall;

      }
      @media only screen and (max-width: 500px){
        max-width: 95%;
        margin: 0 ;
        height: $heightSmall;

      }
}
@mixin width-form-device() {
  @media only screen and (max-width: 768px){
    max-width: 100% !important;
  }
}
@mixin dashboard-h3($words, $bg){
        h3{

           margin: 0 0 25px 0;
           color: $words;
           font-size: 25px;
           padding: 20px 0 20px 25px;
           background-color: $bg;
           box-shadow: 0 0 4px 1px rgba(0,0,0, .1);
        }
}
@mixin dashboard-h4($words, $bg){
        h4{

           margin: 0 0 25px 0;
           color: $words;
           font-size: 25px;
           padding: 20px 0 20px 25px;
           background-color: $bg;
           box-shadow: 0 0 4px 1px rgba(0,0,0, .1);

    @media only screen and (max-width: 400px){
          padding: 10px;
    }
  }
}
@mixin dashboard-h5($words, $bg){

           text-align: center !important;
           margin: 0 0 25px 0;
           color: $words;
           font-size: 20px;
           padding: 10px 20px 10px 25px;
           background-color: $bg;
           box-shadow: 0 0 4px 1px rgba(0,0,0, .1);

}
// Input Container for all Form input Fields
@mixin forms-dashboard($height, $heightSmall, $text, $bg, $fileBg, $textAlt) {

     margin: 0 0 0 0;
     padding: 25px 0 50px 20px;
     background-color: $bg;
     text-align: left;
     box-shadow: 0 0 4px 1px rgba(0,0,0, .1);

     z-index: 110;

     // Container of Input fields in forms
        .inputContainer {
          position: relative;
          margin: 0 auto;
          padding: 0 0 0 0;
          width: 100%;
        }
        .input-container-file {
          position: relative;
          margin: 0 0 0 25px;
          padding: 0;

        }
          .labelStyle {
              font-size: 15px;
              color: #969696;
              display: block;
              min-width: 125px;
              text-align: left;
              position: absolute;
              top: 0px;
              left: 5px;
              z-index: 15;
              @include transition-basic(.3s);

          }
          .inputfile {
            	width: 0.1px;
            	height: 0.1px;
            	opacity: 0;
            	overflow: hidden;
            	position: absolute;
            	z-index: -1;
          }
          .inputfile + label {
              font-size: 1.25em;
              font-weight: 700;
              color: white;
              background-color: $fileBg;
              display: inline-block;
              padding: 10px;
          }

          .inputfile:focus + label,
          .inputfile + label:hover {
              background-color: $fileBg;
          }
          .inputfile + label {
            	cursor: pointer; /* "hand" cursor */
          }
          .file-icon {
            margin-right: 10px;
          }
          .check-icon {
            font-size: 25px;
            margin-left: 15px;
          }
          input:focus ~ .labelStyle, textarea:focus ~ .labelStyle, select:focus ~ .labelStyleSelect {
            font-size: 12px;
            color: $text;
            display: block;
            min-width: 125px;
            position: absolute;
            z-index: 15;
            @include transition-basic(.3s);
          }

          .labelStyleSelect {
            font-size: 15px;
            color: #969696;
            display: block;
            min-width: 125px;
            text-align: left;
            position: absolute;
            top: 0;
            left: 5px;
            z-index: 15;
            @include transition-basic(.3s);
          }
          textarea:focus, input:focus{
              outline: none;

           }
           select {
               margin: 35px 0 0 0;
               font-size: 17px;
               color: #3e3e3e;
               display: inline-block;
               text-align: center;
               text-align-last: center;
               height: 45px;
               line-height: 50px;
               border-radius: 4px;
               -webkit-border-radius: 4px;
               -moz-border-radius: 4px;
             }
             option {
               color: #3e3e3e;
               text-align: center;
             }

              .form-control {
                padding-top: 20px;
                margin: 35px 0 0 0;
                font-size: 16px;
                color: #3e3e3e;
                display: block;
                text-align: left;
                background-color:   #FFFFFF;
                position: relative;
                z-index: 10;
              }
              .image-file-input {
                padding: 40px 0 ;
              }
               .form small {
                 position: absolute;
                 bottom: -25px;
                 left: 12%;
                 width: 250px;
                 text-align: center;
                 background-color: rgb(235, 157, 140);
               }

               .listings {
                 text-align: center;
               }
               .listing-head {
                 font-size: 18px;
                 color: $text;
               }
               .listing-info {
                 color: $textAlt;
               }
               .submitBtn {
                   margin: 50px 0 0 0;
                   border-radius: 3px;
                   -moz-border-radius: 3px;
                   -webkit-border-radius: 3px;
                   border: solid thin  $text;
                   font-weight: bold;
                   background-color: $text;
                   padding: 10px 10px 10px 10px;
                   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                   font-size: 17px;
                   height: 50px;
                   color:  #FFFFFF;
                   cursor: pointer;
                   line-height: 10px;
                   transition: background-color .3s, font-size .4s;
                   -webkit-transition: background-color .3s, font-size .4s;
                   -moz-transition: background-color .3s, font-size .4s;
                   -o-transition: background-color .3s, font-size .4s;
                 }
                  .submitBtn:hover {
                     border-radius: 3px;
                     -moz-border-radius: 3px;
                     -webkit-border-radius: 3px;
                     font-weight: bold;
                     background-color:  #264761;
                     padding: 10px 10px 10px 10px;
                     font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                     color:  #FFFFFF;
                     cursor: pointer;
                     font-size: 20px;
               }

      @media only screen and (max-width: 768px){
        max-width: 100%;
        margin: 0 0;


      }
      @media only screen and (max-width: 500px){
        max-width: 100%;
        margin: 0 ;


      }

}

// styled checkbox
@mixin checkbox(){


  input[type=checkbox]{
    	height: 0;
    	width: 0;
    	visibility: hidden;
    }

    label {
    	cursor: pointer;
    	text-indent: -9999px;
    	width: 80px;
    	height: 30px;
    	background: grey;
    	display: block;
    	border-radius: 100px;
    	position: relative;

    }

    label:after {
    	content: '';
    	position: absolute;
    	top: 5px;
    	left: 5px;
    	width: 30px;
    	height: 20px;
    	background: #fff;
    	border-radius: 90px;
    	transition: 0.3s;
    }

    input:checked + label {
    	background: #2891d4;
    }

    input:checked + label:after {
    	left: calc(100% - 5px);
      @include translateX(-100%);

    }

    label:active:after {
    	width: 20px;
    }
}


@mixin input-file($fileBg){
  .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
  }
  .inputfile + label {
      font-size: 18px;
      font-weight: bold;
      color: white;
      background-color: $fileBg;
      display: inline-block;
      padding: 10px;
  }

  .inputfile:focus + label,
  .inputfile + label:hover {
      background-color: $fileBg;
  }
  .inputfile + label {
      cursor: pointer; /* "hand" cursor */
  }
  .file-icon {
    margin-right: 10px;
  }
}
/****************************************************

Jobs list design for currentJobs and inField pages

*****************************************************/
@mixin jobs-list-design($mainBlue, $white, $margTop){

// the name of container for the page on
  margin-top: $margTop;
  width: 100%;
  padding: 0;

  .list-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .job-listing {
    margin: 50px 0 0 0;
    padding: 0;
    width: 100%;
    text-align: center;

  }
  .job-listing li {
    max-width: 290px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 25px 0 0 25px;
    list-style: none;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px 1px rgba(0,0,0, .2);
  }
  .job-listing li:nth-child(1){
    margin: 25px 0 0 0 !important;
  }
  .job-listing table {
   width: inherit;
   margin: 0;
   padding: 0;
   border-collapse: collapse;

   font-size: 14px;
  }
  .job-listing table td {
    min-height: 50px;
    padding: 10px;
    margin: 0;
    width: 50%;
    color: rgb(3, 16, 33);
    text-align: center;
  }
  .addressShade {
    color: $mainBlue !important;
    background-color: $white;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    padding: 5px 0 !important;
    font-size: 18px;
  }
  .head {
    /* background-color: rgb(238, 238, 238); */
    color: $mainBlue ;
    font-size: 14px ;
    padding: 10px 0 0 10px ;
    text-decoration: underline;
    text-align: left !important;


  }
  .head-border {
    border-bottom: solid thin rgb(241, 241, 241);
  }
  .caps {
    text-transform: capitalize;
    font-weight: bold;
    border-bottom: solid thin rgb(241, 241, 241);
    text-align: center;
  }
  .shortPad {
    padding: 0 0 20px 0 !important;
    border: none;
  }


@media only screen and (max-width: 580px){

  .job-listing li {
    margin: 25px 0 0 0;
   }
  }
}
/*****************************

BROWSER FRIENDLY STYLES

******************************/


@mixin border-radius($r: 7px){
  border-radius: $r;
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  -o-border-radius: $r;
  -ms-border-radius: $r;

}
@mixin border-radius-all($tl, $tr, $br, $bl){
  border-radius: $tl $tr $br $bl;
  -webkit-border-radius: $tl $tr $br $bl;
  -moz-border-radius: $tl $tr $br $bl;
  -o-border-radius: $tl $tr $br $bl;
  -ms-border-radius: $tl $tr $br $bl;

}

@mixin animation($name, $duration, $fill-mode, $delay, $direction){
  animation: $name $duration $fill-mode $delay $direction;
  -webkit-animation: $name $duration $fill-mode $delay $direction;
  -moz-animation: $name $duration $fill-mode $delay $direction;
  -o-animation: $name $duration $fill-mode $delay $direction;
  -ms-animation: $name $duration $fill-mode $delay $direction;

}
@mixin animation-no-linear($name, $duration, $delay, $direction){
  animation: $name $duration $delay $direction;
  -webkit-animation: $name $duration $delay $direction;
  -moz-animation: $name $duration $delay $direction;
  -o-animation: $name $duration $delay $direction;
  -ms-animation: $name $duration $delay $direction;

}
@mixin animation-no-delay($name, $duration, $fill-mode, $direction){
  animation: $name $duration $fill-mode $direction;
  -webkit-animation: $name $duration $fill-mode $direction;
  -moz-animation: $name $duration $fill-mode $direction;
  -o-animation: $name $duration $fill-mode $direction;
  -ms-animation: $name $duration $fill-mode $direction;

}
@mixin animation-delay($seconds){
  animation-delay: $seconds !important;
  -webkit-animation-delay: $seconds !important;
  -moz-animation-delay: $seconds !important;
  -o-animation-delay: $seconds !important;

}
@mixin transition-basic($duration){
  transition: $duration;
  -webkit-transition:$duration;
  -moz-transition: $duration;
  -o-transition: $duration;
  -ms-transition: $duration;

}
@mixin translateX($perc){
  transform: translateX($perc);
  -webkit-transform: translateX($perc);
  -moz-transform: translateX($perc);
  -o-transform: translateX($perc);
  -ms-transform: translateX($perc);
}
@mixin translate($xPerc, $yPerc){
  transform: translate($xPerc, $yPerc);
  -webkit-transform: translate($xPerc, $yPerc);
  -moz-transform: translate($xPerc, $yPerc);
  -o-transform: translate($xPerc, $yPerc);
  -ms-transform: translate($xPerc, $yPerc);
}
@mixin translateY($perc){
  transform: translateY($perc);
  -webkit-transform: translateY($perc);
  -moz-transform: translateY($perc);
  -o-transform: translateY($perc);
  -ms-transform: translateY($perc);
}

@mixin scale($size){
  transform: scale($size);
  -webkit-transform: scale($size);
  -moz-transform: scale($size);
  -o-transform: scale($size);
  -ms-transform: scale($size);

}
@mixin scaleY($size){
  transform: scaleY($size);
  -webkit-transform: scaleY($size);
  -moz-transform: scaleY($size);
  -o-transform: scaleY($size);
  -ms-transform: scaleY($size);

}
@mixin scaleX($size){
  transform: scaleX($size);
  -webkit-transform: scaleX($size);
  -moz-transform: scaleX($size);
  -o-transform: scaleX($size);
  -ms-transform: scaleX($size);

}

@mixin skewY($deg){
  transform: skewY($deg);
  -webkit-transform: skewY($deg);
  -moz-transform: skewY($deg);
  -o-transform: skewY($deg);
  -ms-transform: skewY($deg);
}
@mixin rotate($deg){
  transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  -ms-transform: rotate($deg);
}
@mixin opacity($trans){
  opacity: $trans;
  -khtml-opacity: $trans;
  -moz-opacity: $trans;
}

@mixin positionAtScreenSize($screenSize, $position, $top, $left){

    @media only screen and (max-width: $screenSize){
      position: $position !important;
      top: $top !important;
      left: $left !important;

    }

}

@mixin displayAtScreenSize($screenSize){

      display: none;

    @media only screen and (max-width: $screenSize){

      display: inline-block;

    }
}
