



// submit btns outside of forms
@mixin submitBtn($bgColor, $hoverBgColor, $textColor){

      margin: 25px 0 0 15px;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border: solid thin $bgColor;
      font-weight: bold;
      background-color: $bgColor;
      padding: 10px;
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      font-size: 17px;
      width: 93%;
      height: 50px;
      color:  $textColor;
      cursor: pointer;
      line-height: 10px;
      transition: background-color .3s, font-size .4s;
      -webkit-transition: background-color .3s, font-size .4s;
      -moz-transition: background-color .3s, font-size .4s;
      -o-transition: background-color .3s, font-size .4s;

     &:hover {
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        font-weight: bold;
        background-color:  $hoverBgColor;
        padding: 10px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        color:  $textColor;
        cursor: pointer;
        font-size: 18px;
        border: solid thin $bgColor;
  }
      input[type=button] {
        border: none;
        background-color: inherit;
        color:  $textColor;
        padding: 10px 0;
        cursor: pointer;
      }

}
// submit btns outside of forms
@mixin dashboardSubmitBtn($bgColor, $hoverBgColor, $textColor){

      margin: 25px 0 0 25px;
      border: solid thin $bgColor;
      font-weight: bold;
      background-color: $bgColor;
      padding: 10px;
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      font-size: 17px;
      max-width: 280px;
      height: 50px;
      text-align: center;
      color:  $textColor;
      cursor: pointer;
      line-height: 10px;
      transition: background-color .3s, font-size .4s;
      -webkit-transition: background-color .3s, font-size .4s;
      -moz-transition: background-color .3s, font-size .4s;
      -o-transition: background-color .3s, font-size .4s;
      @include translateX(110%);
      @include opacity(0);
      @include animation(scaleBtn, .4s, ease-in-out, 0s, forwards);

     &:hover {
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        font-weight: bold;
        background-color:  $hoverBgColor;
        padding: 10px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        color:  $textColor;
        cursor: pointer;
        font-size: 18px;
        border: solid thin $bgColor;
  }

      input[type=button] {
        border: none;
        background-color: inherit;
        color:  $textColor;
        padding: 10px 0;
        cursor: pointer;
      }


@media only screen and (max-width: 450px){
  margin: 25px auto 0 auto;
  width: 90%;
}
@keyframes scaleBtn {
  100%{
    @include opacity(1);
    @include translateX(0);
  }
}

}
// submit btns outside of forms
@mixin dashboardFullWidthBtn($bgColor, $hoverBgColor, $textColor){

      margin: 25px 0 0 0;
      border: solid thin $bgColor;
      font-weight: bold;
      background-color: $bgColor;
      padding: 10px;
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      font-size: 17px;
      width: 100%;
      height: 50px;
      text-align: center;
      color:  $textColor;
      cursor: pointer;
      line-height: 10px;
      transition: background-color .3s, font-size .4s;
      -webkit-transition: background-color .3s, font-size .4s;
      -moz-transition: background-color .3s, font-size .4s;
      -o-transition: background-color .3s, font-size .4s;

     &:hover {
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        font-weight: bold;
        background-color:  $hoverBgColor;
        padding: 10px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        color:  $textColor;
        cursor: pointer;
        font-size: 18px;
        border: solid thin $bgColor;
  }
      input[type=button] {
        border: none;
        background-color: inherit;
        color:  $textColor;
        padding: 10px 0;
        cursor: pointer;
      }

}
// submit btns outside of forms
@mixin dashboardSubmitLight($bgColor, $hoverBgColor, $textColor){

      margin: 25px 0 0 0;
      border: solid thin $bgColor;
      font-weight: bold;
      background-color: $bgColor;
      padding: 10px;
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      font-size: 17px;
      width: 100%;
      height: 50px;
      text-align: center;
      color:  $textColor;
      cursor: pointer;
      line-height: 10px;
      transition: background-color .3s, font-size .4s;
      -webkit-transition: background-color .3s, font-size .4s;
      -moz-transition: background-color .3s, font-size .4s;
      -o-transition: background-color .3s, font-size .4s;

     &:hover {
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        font-weight: bold;
        background-color:  $hoverBgColor;
        padding: 10px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        color:  $textColor;
        cursor: pointer;
        font-size: 18px;
        border: solid thin $bgColor;
  }
      input[type=button] {
        border: none;
        background-color: inherit;
        color:  $textColor;
        padding: 10px 0;
        cursor: pointer;
      }

}
// submit btns outside of forms wihout text grow on Hover
@mixin submitBtnNoGrowText($bgColor, $hoverBgColor, $textColor){

      margin: 25px 0 0 0;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border: solid thin $bgColor;
      font-weight: bold;
      background-color: $bgColor;
      padding: 10px;
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      font-size: 17px;
      width: 100%;
      max-width: 300px;
      height: 50px;
      color:  $textColor;
      cursor: pointer;
      line-height: 10px;
      transition: background-color .3s, font-size .4s;
      -webkit-transition: background-color .3s, font-size .4s;
      -moz-transition: background-color .3s, font-size .4s;
      -o-transition: background-color .3s, font-size .4s;

     &:hover {
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        font-weight: bold;
        background-color:  $hoverBgColor;
        padding: 10px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        width: 100%;
        color:  $textColor;
        cursor: pointer;
        border: solid thin $bgColor;
  }

}
// Input Container for all Form input Fields
@mixin form($height, $heightSmall, $top, $mainBlue, $white, $maxWidth) {


      border: solid 1px $white;
      border-radius: 4px;
     -moz-border-radius: 4px;
     -webkit-border-radius: 4px;
     box-shadow: 0 0 20px 1px rgba(0,0,0, .2);
     margin: 0 auto 150px auto;
     padding: 0 0 50px 0;
     background-color: $white;
     text-align: center;
     max-width: $maxWidth;
     width: 100%;
     height: $height;
     position: relative;
     top: $top;
     z-index: 110;

      h3 {
         text-decoration: underline;
         margin: 0 auto;
         color: $mainBlue;
         font-size: 25px;
         padding: 20px 0;
         background-color: #FFFFFF;
         width: 100%;
         border-bottom: solid thin #e8e8e8;
         border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
        position: relative;
        overflow: hidden;

     }
     .crossingLine {
       width: 100%;
       height: 2px;
       position: absolute;
       bottom: 0;
       left: 0;
       background: linear-gradient(to right, rgb(255, 255, 255), rgb(200, 200, 200));
       animation: crossingLine 3s linear infinite;
     }
     @keyframes crossingLine {
       0% {
          transform: translateX(-100%);
       }
       100% {
          transform: translateX(100%);
       }
     }
     @-webkit-keyframes crossingLine {
       0% {
          transform: translateX(-100%);
       }
       100% {
          transform: translateX(100%);
       }
     }
     @-moz-keyframes crossingLine {
       0% {
          transform: translateX(-100%);
       }
       100% {
          transform: translateX(100%);
       }
     }
     @-o-keyframes crossingLine {
       0% {
          transform: translateX(-100%);
       }
       100% {
          transform: translateX(100%);
       }
     }
      .form {
        width: 100%;
        height: 100%;
      }
     // Container of Input fields in forms
        .inputContainer {
          position: relative;
          margin: 0 auto;
          padding: 0;
          width: 100%;
        }
        .formInput {
           width: 100%;
           margin: 0 auto;

         }
         .formInput:focus {
            box-shadow: 0 0 5px 2px rgba(0,0,0, .3);
            outline: none;

          }



          .labelStyle {
              font-size: 15px;
              color: #969696;
              display: block;
              min-width: 125px;
              text-align: left;
              position: absolute;
              top: 0px;
              left: 5px;
              z-index: 15;
              @include transition-basic(.3s);

          }
          input:focus ~ .labelStyle, textarea:focus ~ .labelStyle, select:focus ~ .labelStyleSelect {
            font-size: 12px;
            color: $mainBlue;
            display: block;
            min-width: 125px;
            position: absolute;
            z-index: 15;
            @include transition-basic(.3s);
          }

          .labelStyleSelect {
            font-size: 15px;
            color: #969696;
            display: block;
            min-width: 125px;
            text-align: left;
            position: absolute;
            top: 0;
            left: 5px;
            z-index: 15;
            @include transition-basic(.3s);
          }
          textarea:focus, input:focus{
              outline: none;

           }
           select {
               margin: 35px 0 0 0;
               font-size: 17px;
               color: #3e3e3e;
               display: inline-block;
               text-align: center;
               text-align-last: center;
               width: 100%;
               height: 45px;
               line-height: 50px;
               border-radius: 4px;
               -webkit-border-radius: 4px;
               -moz-border-radius: 4px;
             }
             option {
               color: #3e3e3e;
               text-align: center;
             }

              .form-control {
                padding-top: 20px;
                margin: 35px 0 0 0;
                font-size: 16px;
                color: #3e3e3e;
                display: block;
                text-align: center;
                width: 100%;
                background-color:   #FFFFFF;
                position: relative;
                z-index: 10;
              }

               .form small {
                 position: absolute;
                 bottom: -25px;
                 left: 12%;
                 width: 250px;
                 text-align: center;
                 background-color: rgb(235, 157, 140);
               }
               .submitBtn {
                   margin: 50px 0 0 0;
                   border-radius: 3px;
                   -moz-border-radius: 3px;
                   -webkit-border-radius: 3px;
                   border: solid thin  $mainBlue;
                   font-weight: bold;
                   background-color: $mainBlue;
                   padding: 10px 10px 10px 10px;
                   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                   font-size: 17px;
                   width: 100%;
                   height: 50px;
                   color:  #FFFFFF;
                   cursor: pointer;
                   line-height: 10px;
                   transition: background-color .3s, font-size .4s;
                   -webkit-transition: background-color .3s, font-size .4s;
                   -moz-transition: background-color .3s, font-size .4s;
                   -o-transition: background-color .3s, font-size .4s;
                 }
                  .submitBtn:hover {
                     border-radius: 3px;
                     -moz-border-radius: 3px;
                     -webkit-border-radius: 3px;
                     font-weight: bold;
                     background-color:  #264761;
                     padding: 10px 10px 10px 10px;
                     font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                     width: 100%;
                     color:  #FFFFFF;
                     cursor: pointer;
                     font-size: 20px;
               }

      @media only screen and (max-width: 768px){
        max-width: 70%;
        margin: 0 0;
        height: $heightSmall;

      }
      @media only screen and (max-width: 500px){
        max-width: 95%;
        margin: 0 ;
        height: $heightSmall;

      }
}
@mixin width-form-device() {
  @media only screen and (max-width: 768px){
    max-width: 100% !important;
  }
}
@mixin dashboard-h3($words, $bg){
        h3{

           margin: 0 0 25px 0;
           color: $words;
           font-size: 25px;
           padding: 20px 0 20px 25px;
           background-color: $bg;
           box-shadow: 0 0 4px 1px rgba(0,0,0, .1);
        }
}
@mixin dashboard-h4($words, $bg){
        h4{

           margin: 0 0 25px 0;
           color: $words;
           font-size: 25px;
           padding: 20px 0 20px 25px;
           background-color: $bg;
           box-shadow: 0 0 4px 1px rgba(0,0,0, .1);

    @media only screen and (max-width: 400px){
          padding: 10px;
    }
  }
}
@mixin dashboard-h5($words, $bg){

           text-align: center !important;
           margin: 0 0 25px 0;
           color: $words;
           font-size: 20px;
           padding: 10px 20px 10px 25px;
           background-color: $bg;
           box-shadow: 0 0 4px 1px rgba(0,0,0, .1);

}
// Input Container for all Form input Fields
@mixin forms-dashboard($height, $heightSmall, $text, $bg, $fileBg, $textAlt) {

     margin: 0 0 0 0;
     padding: 0 0 50px 20px;
     background-color: $bg;
     text-align: left;
     box-shadow: 0 0 4px 1px rgba(0,0,0, .1);

     z-index: 110;

     // Container of Input fields in forms
        .inputContainer {
          position: relative;
          margin: 0 auto;
          padding: 0 0 0 0;
          width: 100%;
        }
        .input-container-file {
          position: relative;
          margin: 0 0 0 25px;
          padding: 0;

        }
          .labelStyle {
              font-size: 15px;
              color: #969696;
              display: block;
              min-width: 125px;
              text-align: left;
              position: absolute;
              top: 0px;
              left: 5px;
              z-index: 15;
              @include transition-basic(.3s);

          }
          .inputfile {
            	width: 0.1px;
            	height: 0.1px;
            	opacity: 0;
            	overflow: hidden;
            	position: absolute;
            	z-index: -1;
          }
          .inputfile + label {
              font-size: 1.25em;
              font-weight: 700;
              color: white;
              background-color: $fileBg;
              display: inline-block;
              padding: 10px;
          }

          .inputfile:focus + label,
          .inputfile + label:hover {
              background-color: $fileBg;
          }
          .inputfile + label {
            	cursor: pointer; /* "hand" cursor */
          }
          .file-icon {
            margin-right: 10px;
          }
          .check-icon {
            font-size: 25px;
            margin-left: 15px;
          }
          input:focus ~ .labelStyle, textarea:focus ~ .labelStyle, select:focus ~ .labelStyleSelect {
            font-size: 12px;
            color: $text;
            display: block;
            min-width: 125px;
            position: absolute;
            z-index: 15;
            @include transition-basic(.3s);
          }

          .labelStyleSelect {
            font-size: 15px;
            color: #969696;
            display: block;
            min-width: 125px;
            text-align: left;
            position: absolute;
            top: 0;
            left: 5px;
            z-index: 15;
            @include transition-basic(.3s);
          }
          textarea:focus, input:focus{
              outline: none;

           }
           select {
               margin: 35px 0 0 0;
               font-size: 17px;
               color: #3e3e3e;
               display: inline-block;
               text-align: center;
               text-align-last: center;
               height: 45px;
               line-height: 50px;
               border-radius: 4px;
               -webkit-border-radius: 4px;
               -moz-border-radius: 4px;
             }
             option {
               color: #3e3e3e;
               text-align: center;
             }

              .form-control {
                padding-top: 20px;
                margin: 35px 0 0 0;
                font-size: 16px;
                color: #3e3e3e;
                display: block;
                text-align: left;
                background-color:   #FFFFFF;
                position: relative;
                z-index: 10;
              }
              .image-file-input {
                padding: 40px 0 ;
              }
               .form small {
                 position: absolute;
                 bottom: -25px;
                 left: 12%;
                 width: 250px;
                 text-align: center;
                 background-color: rgb(235, 157, 140);
               }

               .listings {
                 text-align: center;
               }
               .listing-head {
                 font-size: 18px;
                 color: $text;
               }
               .listing-info {
                 color: $textAlt;
               }
               .submitBtn {
                   margin: 50px 0 0 0;
                   border-radius: 3px;
                   -moz-border-radius: 3px;
                   -webkit-border-radius: 3px;
                   border: solid thin  $text;
                   font-weight: bold;
                   background-color: $text;
                   padding: 10px 10px 10px 10px;
                   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                   font-size: 17px;
                   height: 50px;
                   color:  #FFFFFF;
                   cursor: pointer;
                   line-height: 10px;
                   transition: background-color .3s, font-size .4s;
                   -webkit-transition: background-color .3s, font-size .4s;
                   -moz-transition: background-color .3s, font-size .4s;
                   -o-transition: background-color .3s, font-size .4s;
                 }
                  .submitBtn:hover {
                     border-radius: 3px;
                     -moz-border-radius: 3px;
                     -webkit-border-radius: 3px;
                     font-weight: bold;
                     background-color:  #264761;
                     padding: 10px 10px 10px 10px;
                     font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                     color:  #FFFFFF;
                     cursor: pointer;
                     font-size: 20px;
               }

      @media only screen and (max-width: 768px){
        max-width: 100%;
        margin: 0 0;


      }
      @media only screen and (max-width: 500px){
        max-width: 100%;
        margin: 0 ;


      }

}

// styled checkbox
@mixin checkbox(){


  input[type=checkbox]{
    	height: 0;
    	width: 0;
    	visibility: hidden;
    }

    label {
    	cursor: pointer;
    	text-indent: -9999px;
    	width: 80px;
    	height: 30px;
    	background: grey;
    	display: block;
    	border-radius: 100px;
    	position: relative;

    }

    label:after {
    	content: '';
    	position: absolute;
    	top: 5px;
    	left: 5px;
    	width: 30px;
    	height: 20px;
    	background: #fff;
    	border-radius: 90px;
    	transition: 0.3s;
    }

    input:checked + label {
    	background: #2891d4;
    }

    input:checked + label:after {
    	left: calc(100% - 5px);
      @include translateX(-100%);

    }

    label:active:after {
    	width: 20px;
    }
}


@mixin input-file($fileBg){
  .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
  }
  .inputfile + label {
      font-size: 18px;
      font-weight: bold;
      color: white;
      background-color: $fileBg;
      display: inline-block;
      padding: 10px;
  }

  .inputfile:focus + label,
  .inputfile + label:hover {
      background-color: $fileBg;
  }
  .inputfile + label {
      cursor: pointer; /* "hand" cursor */
  }
  .file-icon {
    margin-right: 10px;
  }
}
/****************************************************

Jobs list design for currentJobs and inField pages

*****************************************************/
@mixin jobs-list-design($mainBlue, $white, $margTop){

// the name of container for the page on
  margin-top: $margTop;
  width: 100%;
  padding: 0;

  .list-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .job-listing {
    margin: 50px 0 0 0;
    padding: 0;
    width: 100%;
    text-align: center;

  }
  .job-listing li {
    max-width: 290px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 25px 0 0 25px;
    list-style: none;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px 1px rgba(0,0,0, .2);
  }
  .job-listing li:nth-child(1){
    margin: 25px 0 0 0 !important;
  }
  .job-listing table {
   width: inherit;
   margin: 0;
   padding: 0;
   border-collapse: collapse;

   font-size: 14px;
  }
  .job-listing table td {
    min-height: 50px;
    padding: 10px;
    margin: 0;
    width: 50%;
    color: rgb(3, 16, 33);
    text-align: center;
  }
  .addressShade {
    color: $mainBlue !important;
    background-color: $white;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    padding: 5px 0 !important;
    font-size: 18px;
  }
  .head {
    /* background-color: rgb(238, 238, 238); */
    color: $mainBlue ;
    font-size: 14px ;
    padding: 10px 0 0 10px ;
    text-decoration: underline;
    text-align: left !important;


  }
  .head-border {
    border-bottom: solid thin rgb(241, 241, 241);
  }
  .caps {
    text-transform: capitalize;
    font-weight: bold;
    border-bottom: solid thin rgb(241, 241, 241);
    text-align: center;
  }
  .shortPad {
    padding: 0 0 20px 0 !important;
    border: none;
  }


@media only screen and (max-width: 580px){

  .job-listing li {
    margin: 25px 0 0 0;
   }
  }
}
/*********************************
PERSONAL NAV INFO
*******************************/
@mixin nav-personal-info($bgColor, $borderColor, $fontColor, $iconColor){
  width: 100%;
  min-height: 30px;
  background-color: $bgColor;
  border-bottom: solid thin $borderColor;
  color: $fontColor;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;

  .personal-info-left {
    margin: 0 0 0 25px;
  }
  i {
    color: $iconColor !important;
    margin-right: 5px;
  }
  .social-media {
    padding: 0 25px 0 0;

  }
  .social-media-container {
    margin-left: 10px;
    position: relative;

    a {
      color: $iconColor !important;
    }
  }
     .social-media-icon {
      font-size: 20px !important;
      @include transition-basic(.4s);
        &:hover {
          @include scale(1.2);
        }

    }
    .social-media-icon-name {
      color: $white;
      background-color: rgba(0,0,0, .5);
      padding: 0 5px;
      @include border-radius();
      position: absolute;
      bottom: -35px;
      right: -10px;
      @include opacity(0);
    }
    .social-media-icon-name-show {

      @include opacity(1);

    }


  @media only screen and (max-width: 768px){
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding: 10px 0;

    p{
      padding: 0;
    }
    .social-media {
        padding: 0;
        margin-top: 5px;
        margin-left: 15px;

    }
  }
}
/**************************
HEADER NAV MIXIN
***************************/

@mixin header-nav($bgColor, $borderColor, $linkColor, $linkColorHover, $shoppingCart, $cartNumBg, $cartNumColor){

 width: 100%;
 min-height: 80px;
 background-color: $bgColor;
 border-bottom: solid thin $borderColor;
 font-size: 16px;
 display: flex;
 align-items: center;
 justify-content: space-between;

   a {
     color: $linkColor;
     @include transition-basic(.3s);

     &:hover {
        color: $linkColorHover;
        text-decoration: none;
     }
   }
  /*******************
  NAV LISTS
  *******************/
    .left-nav {
      margin: 10px 0 0 25px;

    .home-shop-links {
      display: inline-block;
    }
        a {
          color: $linkColor;
         }

        ul {
           list-style: none;
         }
        li {
          display: inline-block;
          color: $linkColor;
          margin: 0 0 0 25px;
          cursor: pointer;
          @include transition-basic(.6s);
        }

  }

    .right-nav {
      width: 100%;
      max-width: 150px;
      margin: 0 50px 0 0;
      display: flex;
      align-items: center;
      justify-content: space-around;

      div {
        margin: 0 0 0 25px;
      }
      .shopping-cart-wrapper {
        width: 50px;
        position: relative;

        span {
          width: 20px;
          height: 20px;
          background-color: $cartNumBg;
          color: $cartNumColor;
          @include border-radius(50%);
          position: absolute;
          right: 11px;
          top: -3px;
          z-index: 20;
          font-size: 12px;
          padding: 2px 0 0 3px;

        }
      }
      .shopping-cart {
        position: relative;
        z-index: 15;
        color: $shoppingCart;
      }
      .open-close-menu {
         color: $linkColor;
         margin: 0;

         span {
           margin-left: 5px;
           cursor: pointer;
         }
      }
      .nav-menu-text {
        display: inline-block;
      }
  }
  @media only screen and (max-width: 768px){


    .left-nav {

      .home-shop-links {
        display: none;
      }
    }
    .right-nav {
      width: 100%;
      max-width: 100px;
      margin: 0 25px 0 0;

      div {
        margin: 0 0 0 10px;
      }
      .nav-menu-text {
        display: none;
      }
    }
  }
}

     /************************
     LOGO SECTION
    *************************/

    /*************************
      HOME & SHOP LIST
    /*************************

    /*************************
    SHOPPING CART ICON
    *************************/

    /************************
      MENU NAV
    ************************/

@mixin nav-container($bgColor, $borderColor, $headerColor, $shopBorderColor, $shopBgColor, $linkColor){
  width: 98%;
  min-height: 300px;
  position: absolute;
  left: 1%;
  z-index: 50;
  background-color: $bgColor;
  border: solid thin $borderColor;
  @include transition-basic(.4s);

  #navShop {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    color: $headerColor;
    background-color: $shopBgColor;
    border: solid thin $shopBorderColor;
    padding: 10px;
    display: inline-block;
  }

  #navWrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

      .nav-shop-small {
        display: none;
        font-size: 17px;

        a {
          color: $linkColor;
         }

        ul {
           list-style: none;
         }
        li {
          color: $linkColor;
          cursor: pointer;
          margin: 10px 0 0 0;
        }
      }
      #menuUl {
         margin: 30px 0 0 0;

        li{
          list-style: none;
          color: $linkColor;
          cursor: pointer;
          margin: 10px 0 0 0;

        a {
          color: $linkColor;
         }
      }
    }
  }
  @media only screen and (max-width: 768px){
    #navWrapper {
      position: relative;
      left: -10%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

    .nav-shop-small {
      margin: 25px 0 0 0;
      display: block;
      list-style: none;
      @include transition-basic(.6s);
     }
     #menuUl {
       margin: 0 0 30px 0;

      }
     }
  }
}

@mixin category-nav($catColor, $catColorHover, $catBgColor, $catSlideBg){

      max-width: 300px;
      font-size: 17px;
      text-transform: capitalize;
      position: relative;
      z-index: 20;

    ul {
      list-style: none;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      position: relative;
      z-index: 10;
    }
      li {
        position: relative;
        min-width: 225px;
        margin: 10px 0 0 0;
        text-align: left !important;
        vertical-align: top;
        cursor: pointer;
        color: $catColor !important;
        list-style: none;

        & > a {
          color: $catColor;
          text-transform: uppercase;
          font-weight: bold;
          @include transition-basic(.8s);

            &:hover {
              color: $catColorHover;
            }
        }

      }
      .category-bg-slide {
        width: 100%;
        height: 30px;
        background-color: $catSlideBg;
        display: block;
        position: absolute;
        top: 0;
        z-index: 5;
        @include opacity(0);
        @include transition-basic(.5s);
      }
      .category-span{
        display: inline-block;
        min-width: 225px;
        padding: 5px 10px;
        position:relative;
        z-index: 10;
      }
      .category-number-pulse {
        display: inline-block;
        @include scale(1);
        @include animation(numberPulse, .8s, linear, 0s, infinite);
      }
      @keyframes numberPulse{
        0%{
          @include scale(1);
        }
        100%{
          @include scale(1.2);
        }
      }

  @media only screen and (max-width: 768px){
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column !important;
      flex-wrap: nowrap;
      font-size: 17px;
      text-transform: capitalize;

      li {
        margin: 10px 0 0 0;
        left: 75px;
      }

   }
}


/******************************************************

CATEGORY PRODUCTS PAGE FOR TRAIL AND CATEGORY CAPTION

********************************************************/
@mixin category-products($shopColor, $shopCatColor, $catCaptionColor, $catCaptionBgColor, $catSpanTopBg, $catSpanBottomBg, $catCaptionBorderColor){
  padding: 60px 0;


  .category-shop-trail {
    color: $shopColor;
    margin: 0 0 0 35px !important;

    > span {
      color: $shopCatColor;
      text-transform: capitalize;
    }
  }
  .animateShopTrail {
    @include translateX(-50px);
    @include opacity(0);
    @include animation(slideCategoryShop, .5s, linear, .6s, forwards);
  }
  @keyframes slideCategoryShop{
    100%{
      @include opacity(1);
      @include translateX(0px);
    }
  }
  @-webkit-keyframes slideCategoryShop{
    100%{
      @include opacity(1);
      @include translateX(0px);
    }
  }
  @-moz-keyframes slideCategoryShop{
    100%{
      @include opacity(1);
      @include translateX(0px);
    }
  }
  @-o-keyframes slideCategoryShop{
    100%{
      @include opacity(1);
      @include translateX(0px);
    }
  }
  .category-caption-wrapper {
    max-width: 500px;
    width: 100%;
    position: relative;
    margin: 50px auto 25px auto !important;
    padding: 20px !important;
    display: block;
    text-align: center;
    font-size: 18px;
    color: $catCaptionColor;
    background-color: $catCaptionBgColor;
    border: solid thin $catCaptionBorderColor;
    @include border-radius(8px);

  }
  .category-caption-wrapper.animateCategoryCaptionP {
    @include scale(0);
    @include animation(categoryCaption, .7s, ease-out, .6s, forwards);
    }
    @keyframes categoryCaption{
      100%{
        @include scale(1);
      }
    }
    @-webkit-keyframes categoryCaption{
      100%{
        @include scale(1);
      }
    }
    @-moz-keyframes categoryCaption{
      100%{
        @include scale(1);
      }
    }
    @-o-keyframes categoryCaption{
      100%{
        @include scale(1);
      }
    }

  .category-border-top, .category-border-bottom {
      width: 50%;
      height: 5px;

  }
  .category-border-left, .category-border-right {
      width: 5px;
      height: 50%;

  }
  .category-border-top {

      position: absolute;
      top: -5px;
      left: -10px;
      background-color: $catSpanTopBg;
      @include border-radius(10px);
  }
  .category-border-bottom {
      position: absolute;
      bottom: -5px;
      right: 0;
      background-color: $catSpanBottomBg;
      @include border-radius(10px);
  }
  .category-border-left {

      position: absolute;
      top: -5px;
      left: -10px;
      background-color: $catSpanTopBg;
      @include border-radius(10px);
  }
  .category-border-right {
      position: absolute;
      bottom: -5px;
      right: 0;
      background-color: $catSpanBottomBg;
      @include border-radius(10px);
  }
  .animateCategoryBorder.category-border-left,.animateCategoryBorder.category-border-right,.animateCategoryBorder.category-border-top,.animateCategoryBorder.category-border-bottom {
    @include scale(0);
    @include animation(cornerLeftTop, .5s, ease-out, 1s, forwards);
    }
    @keyframes cornerLeftTop{
      100%{
        @include scale(1);
      }
    }
    @-webkit-keyframes cornerLeftTop{
      100%{
        @include scale(1);
      }
    }
    @-moz-keyframes cornerLeftTop{
      100%{
        @include scale(1);
      }
    }
    @-o-keyframes cornerLeftTop{
      100%{
        @include scale(1);
      }
    }
    .animateCategory {
      @include translateY(100px);
      @include opacity(0);
      @include animation(bounce, .5s, ease-out, 1s, forwards);
      }
      @keyframes bounce{
        100%{
          @include opacity(1);
          @include translateY(0px);
        }
      }
      @-webkit-keyframes bounce{
        100%{
          @include opacity(1);
          @include translateY(0px);
        }
      }
      @-moz-keyframes bounce{
        100%{
          @include opacity(1);
          @include translateY(0px);
        }
      }
      @-o-keyframes bounce{
        100%{
          @include opacity(1);
          @include translateY(0px);
        }
      }



@media only screen and (max-width: 530px){
  .category-caption-wrapper {
    max-width: 500px;
    width: 95%;
    position: relative;
    margin: 50px 15px !important;
    padding: 20px !important;
    display: block;
    text-align: center;
    font-size: 18px;
    color: $catCaptionColor;
    background-color: $catCaptionBgColor;
    border: solid thin $catCaptionBorderColor;
    @include border-radius(8px);
    }
  }
}
/***********************************************

PRODUCTS CONTAINER & UL LI
USED FOR HOME PAGE & CATEGORY PAGE PRODUCTS

*************************************************/
@mixin productsContainer(){

  .products-container {
    text-align: center;
    margin:  0;
    padding: 25px 0 5px 0;
    width: 100%;
  }
  // HEAD IS JUST ON HOME PAGE
    .products-client-head {
      max-width: 260px;
      font-size: 22px;
      padding: 10px;
      margin: 100px auto 10px auto !important;
      color: #213B50;
      border-top: solid 2px #ffffff;
      border-bottom: solid 2px #ffffff;
      text-align: center;
    }


    .products-ul{
      max-width: 1300px;
      margin: 10px auto;
      padding: 0;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 30px;
    }

     .products-li {
      width: 270px;
      margin: 20px 0 0 0;
      background-color: #FFFFFF;
      display: inline-block;
      list-style: none;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 0 20px 1px rgba(0,0,0, .1);
      position: relative;
      z-index: 1;
    }
}
/********************************

PRODUCTS LIST WITH FEATURES

**********************************/

@mixin products(){


  .product-image-block {
    width: 100%;
    height: 275px;
    box-shadow:0px -4px  10px 1px rgba(0,0,0, .1);

  }
  .product-image {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  .product-sales-banner {
    position: absolute;
    top: 25px;
    left: -5px;
    display: inline-block;
    background-color: rgb(232, 20, 20);
    padding: 0 10px;
    border-radius: 0 8px 8px 0;
    color: #F2f2f2;
    font-weight: bold;
    font-size: 18px;

  }
  .product-sales-banner:before {
    content: '';
    background-color: rgb(168, 17, 17);
    height: 15px;
    width: 30px;
    transform: skewX(40deg);
    position: absolute;
    top: 27px;
    left: 6px;
    z-index: -1;

  }

  .product-data {
    width: 100%;
    padding: 10px 0 0 0;
    text-align: center;
    background-color: #ffffff;
  }

  .product-data > p, .product-data > h5 {
    margin: 0 !important;
    padding: 0 !important;
  }
  .title {
    text-transform: capitalize;
    font-size: 18px;
    color: #213B50;
    display: inline-block;
    font-weight: bold;
    border-bottom: solid thin rgb(223, 223, 223);
    margin: 20px 0 !important;
  }
  .desc {
    font-size: 16px;
    margin: 10px 0 !important;
    padding: 10px 0 !important;
    color: #878787;
  }

   .total {
    font-size: 20px;
    color: #213B50;
  }
  .dollar-sign {
    color: #213B50;
    font-size: 16px;
  }
  .dollar-sign-sale {
    color: #f2f2f2;
    font-size: 15px;
    font-weight: lighter;
  }

  .slide-color-container {
    position: relative;
    margin: 5px 0 0 0!important;
  }
  .slide-bg-color-hex {
    width: 26px;
    height: 26px;
    margin: 5px;
    display: inline-block;
    box-shadow: 0 4px 3px 1px rgba(0,0,0, .5);
    border-radius: 50%;
  }
  .slide-no-color-hex {
    width: 0;
    height: 0;
  }
  .product-msg {
    min-width: 140px;
    background-color: rgba(0,0,0, .7);
    padding: 10px !important;
    display: inline-block;
    color: #f2f2f2;
    border-radius:  5px;
    position: absolute;
    top: -200px;
    left: 50px;
    text-align: center;

  }
}
/*********************************

SLIDER FEATURED ON HOME PAGE

**********************************/

@mixin sliderFeatured($wrapBgColor, $titleBgColor){

  // #featuredSlideContainer
    position: relative;
    top: 15px;
    text-align: center;
    margin: 0;
    padding: 0;


  #featuredSlideWrapper {
    width: 100%;
    max-width: 96%;
    height: 600px;
    margin: 0 auto;
    position: relative;
    padding: 10px;
    background-color: $wrapBgColor;
    box-shadow: 0 0 20px 1px rgba(0,0,0, .1);
  }

  #featuredSlideUl {
    position: relative;
    width: inherit;
    height: inherit;
    overflow-x: scroll;
    white-space: nowrap;
    text-align: center;
    padding: 0;
    margin: 0;

  }
  #featuredSlideUl::-webkit-scrollbar, #featuredSlideBlock::-webkit-scrollbar {
     width: 0 !important;
     height: 0;
     margin: 0;
     padding: 0;
   }

  .featured-slide-li {
    width: 101%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style: none;
  }

  .featured-slide-img{
    width: 101%;
    height: 580px;
    margin: 0;
    padding: 0;
    object-fit: cover;
    object-position: top;
    transition: .3s;
  }
  .caption {
    position: absolute;
    bottom: 200px;
    left: 7%;
    width: 100%;
    max-width: 400px !important;
    display: inline-block !important;
    white-space: normal;
    line-height: normal;
    text-align: left;
    padding: 10px;
    text-shadow: 1px 1px 2px rgba(0,0,0, .8);
  }
  .captionActive {
    @include translateX(50%);
    @include animation(featuredMoveIn, .5s, ease-out, .0s, forwards);
  }
  @keyframes featuredMoveIn {
    100%{
      @include translateX(0%);
    }
  }
  @-webkit-keyframes featuredMoveIn {
    100%{
      @include translateX(0%);
    }
  }
  @-o-keyframes featuredMoveIn {
    100%{
      @include translateX(0%);
    }
  }
  @-moz-keyframes featuredMoveIn {
    100%{
      @include translateX(0%);
    }
  }
  .featured-bg-title {
    position: relative;
    top: 35px;
    left: 0;
    z-index: 5;
    height: 15px;
    width: 65%;
    display: inline-block;
    background-color: $titleBgColor;
  }
  .featured-title {
    position: relative;
    z-index: 10;
    color: #f2f2f2;
    font-size: 33px;
    padding-bottom: 10px;
    display: inline-block;
    font-weight: bold;
  }
  .featured-caption {
    padding-top: 10px;
    font-size: 25px;
    color: #ffffff;
    display: block;
  }
  #featuredBullets {
    position: absolute;
    bottom: 0px;
    right: 20px;
    z-index: 10;

  }
  #featuredBullets li {
      display: inline-block;
      background-color: rgba(0,0,0, .4);
      width: 15px;
      height: 15px;
      margin-left: 10px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      text-indent: -9999px;
  }
  .featured-bullets.featuredActive {
    background-color: rgba(0,0,0, .8) !important;
  }
  @media only screen and (max-width: 768px){
    #featuredSlideWrapper {
      width: 100%;
      height: 350px;
      margin: 0 auto;
      position: relative;
      padding: 10px;

    }
    .featured-slide-img {
      width: 100%;
      height: 330px;
      margin: 0;
      padding: 0;
      object-fit: cover;
      object-position: center;
      transition: .3s;
    }
    .caption {
      position: absolute;
      bottom: 100px;
      left: 7%;
      width: 100%;
      max-width: 300px !important;
      display: inline-block !important;
      white-space: normal;
      line-height: normal;
      text-align: left;
      padding: 10px;
      text-shadow: 1px 1px 2px rgba(0,0,0, .8);
    }
    .featured-title {
      color: #f2f2f2;
      font-size: 28px;
      padding-bottom: 10px;
      display: inline-block;
      font-weight: bold;
    }
    .featured-caption {
      padding-top: 10px;
      font-size: 20px;
      color: #ffffff;
      display: block;
    }
  }
  @media only screen and (max-width: 400px){
    #featuredSlideWrapper {
      width: 100%;
      height: 250px;
      margin: 0 auto;
      position: relative;
      padding: 10px;


    }
    .featured-slide-img {
      width: 100%;
      height: 230px;
      margin: 0;
      padding: 0;
      object-fit: cover;
      object-position: center;
      transition: .3s;
    }
    .caption {
      position: absolute;
      bottom: 50px;
      left: 2%;
      width: 100%;
      max-width: 300px !important;
      display: inline-block !important;
      white-space: normal;
      line-height: normal;
      text-align: left;
      padding: 10px;
      text-shadow: 1px 1px 2px rgba(0,0,0, .8);
    }
    .featured-title {
      color: #f2f2f2;
      font-size: 25px;
      padding-bottom: 10px;
      display: inline-block;
      font-weight: bold;
    }
    .featured-caption {
      padding-top: 10px;
      font-size: 17px;
      color: #ffffff;
      display: block;
      }
    }
}

/*********************************

SLIDER FEATURED ON HOME PAGE

**********************************/

@mixin sliderSpecials(){

  // #specialsSlideContainer

    text-align: center;
    margin: 0 auto;
    padding: 10px 0 5px 0;
    width: 100%;
    max-width: 850px;
    /* background-color: rgb(238, 238, 238); */
    background-color: #FFFFFF;
    box-shadow: 0 4px 20px 1px rgba(0,0,0, .1);

  #specialsSlideWrapper {
    position: relative;
    padding: 0;
    height: inherit;

  }
  .specials-client-head {
    max-width: 260px;
    font-size: 22px;
    padding: 10px;
    margin: 0px auto 10px auto;
    color: #213B50;
    background-color: #ffffff;
    /* box-shadow: 0 0 20px 1px rgba(0,0,0, .1); */
  }

  .specials-slide-ul {
    width: 640px;
    min-height: 350px;
    padding: 0;
    overflow-x: scroll;
    white-space: nowrap;

  }
  .specials-slide-ul::-webkit-scrollbar, .info-block::-webkit-scrollbar {
     width: 0 !important;
     height: 0;
     margin: 0;
     padding: 0;
   }
   // .specials-slide-ul {
   //   display: inline-block;
   //   width: 150px;
   //   padding: 0;
   //   margin: 0;
   //   background-color: rgb(143, 143, 143);
   // }
   .infoControlsArrows {
     width: 40px;
   }
  .specials-slide-li {
    padding: 0;
    margin: 0 ;
    background-color: #FFFFFF;
    display: inline-block;
    list-style: none;
    width: 100%;
  }
  .inline {
    display: inline-block;
  }
  .info-block {
    width: 320px;
    height: 345px;
    margin: 5px auto 0 auto;
    padding: 0;
    overflow-x: scroll;
    white-space: nowrap;
    transition: .5s;


  }
  .info-block::-webkit-scrollbar {
     width: 0 !important;
     margin: 0;
     padding: 0;
   }

  .info-li-block {
    padding: 0;
    margin: 10px;
    background-color: #FFFFFF;
    display: block;
    list-style: none;
  }

  .infoImgBlock {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: .3s;
  }
  .largeFontInfo {
    font-size: 23px;
    font-style: italic;
    font-weight: bold;
  }
  .specials-slide-li p {
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
    padding: 25px 0 25px 0;
    white-space:normal !important;
  }
  .image-block {
    width: 390px;
    height: 100%;
    text-align: left;

  }
  .info-img {
    width: auto;
    height: 350px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: #f2f2f2;
    transition: .3s;
  }

  .inline-block {
    vertical-align: top;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .info-block {
    width: 225px;
    margin: 15px 0 0 20px !important;
    padding: 0;
    text-align: left !important;
    background-color: #ffffff;
  }

  p,h5 {
    margin: 0 !important;
    padding: 0 !important;
  }
  .title {
    text-transform: capitalize;
    font-size: 20px;
    color: #213B50;
    display: inline;
    font-weight: bold;
    border-bottom: solid thin rgb(223, 223, 223);
    margin: 10px 0 !important;
    padding: 30px 20px 10px 0 !important;
  }
  .desc {
    font-size: 16px;
    margin: 10px 0 !important;
    padding: 10px 0 !important;
    color: #878787;
  }
  .price {
    /* border-bottom: solid thin rgb(223, 223, 223);
    border-top: solid thin rgb(223, 223, 223); */
    background-color: rgb(233, 233, 233);
    padding: 10px 15px !important;
    display: inline;
  }
   .total {
    font-size: 20px;
    color: #213B50;
    /* font-weight: bold; */
  }
  .dollar-sign {
    color: #213B50;
    font-size: 16px;
  }
  .sale {
    font-size: 16px;
    margin: 0 5px;
    text-decoration: line-through;
    color: rgb(209, 209, 209);
  }
  .slide-color-container {
    margin: 20px 0 0 0!important;
  }
  .slide-bg-color-hex {
    width: 30px;
    height: 20px;
    margin: 5px 5px;
    display: inline-block;
    box-shadow: 0 4px 3px 1px rgba(0,0,0, .5);
    border-radius: 50%;

  }
  #specialsBullets {
    position: absolute;
    bottom: 20px;
    left: -5%;
    z-index: 10;

  }
  #specialsBullets li {
      display: inline-block;
      background-color: rgba(0,0,0, .4);
      width: 15px;
      height: 15px;
      margin-left: 10px;
      text-indent: -99999px;
     @include  border-radius(50%);

  }
  .specials-bullets.special-active {

    background-color: rgba(0,0,0, .8) !important;
  }

}

/***********************************

PRODUCT PAGE

***********************************/

 @mixin product-overall-grid(){
  // grid for full product page
    padding: 100px 0 0 0;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-around;
    align-content: start;
    grid-gap: 25px;
    grid-template-areas: "info  add"
                          "choose  ."
                          "details  .";

    .product-info-wrapper {
      grid-area: info;
    }
    .product-add-wrapper {
      grid-area: add;
    }
    .product-choose-wrapper {
      grid-area: choose;
    }
    .product-details-wrapper {
      grid-area: details;
    }
    @media only screen and (max-width: 768px){
      grid-template-columns: max-content;
      grid-gap: 25px;
      grid-template-areas:  "info"
                            "choose"
                            "add"
                            "details";
    }
 }
 @mixin info-wrapper-grid(){
  // grid for full product page
    // text-align: center;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-content: start;
    grid-column-gap: 25px;
    grid-template-areas:  "image title"
                          "image price"
                          "image size"
                          "image colors";

    .info-title {
      grid-area: title;
    }
    .info-image {
      grid-area: image;
    }
    .info-price {
      grid-area: price;
    }
    .info-size {
      grid-area: size;
    }
    .info-colors {
      grid-area: colors;
    }
    @media only screen and (max-width: 768px){
      grid-template-columns: max-content;
      grid-gap: 25px;
      grid-template-areas:  "title"
                            "ratings"
                            "image"
                            "price"
                            "size"
                            "colors";
    }

 }
@mixin info-wrapper($titleColor, $priceColor, $priceSale, $priceActual){
  // product info with title, image, price, ratings


  .info-title {


    & > p {
      font-size: 20px;
      color: $titleColor;
      font-weight: bold;
      text-transform: capitalize;
    }
  }
  .info-ratings {
    margin: 0;
    padding: 0;
  }
  .info-image  {
    max-width: 350px;
    width: auto;
  }
  .info-image img {
    width: 100%;
  }
  .info-price-original {
    color: $priceColor;
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
  .info-price-is-sale {
    text-decoration: line-through;
  }
  .info-sale-price {
    display: inline-block;
    color: $priceSale !important;
    text-decoration: line-through;
  }
  .info-price-actual {
    margin: 0;
    padding: 0;
  }
  .info-price-actual-price {
    font-size: 22px !important;
    font-weight: bold !important;
    color: $priceActual !important;
  }
}
@mixin info-size(){
// size selection option



}
@mixin info-colors(){

  min-height: 50px;


  .slide-bg-color-hex {
    width: 26px;
    height: 26px;
    margin: 5px;
    display: inline-block;
    box-shadow: 0 4px 3px 1px rgba(0,0,0, .5);
    border-radius: 50%;
  }
}
/*****************************

BROWSER FRIENDLY STYLES

******************************/


@mixin border-radius($r: 7px){
  border-radius: $r;
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  -o-border-radius: $r;
  -ms-border-radius: $r;

}

@mixin animation($name, $duration, $fill-mode, $delay, $direction){
  animation: $name $duration $fill-mode $delay $direction;
  -webkit-animation: $name $duration $fill-mode $delay $direction;
  -moz-animation: $name $duration $fill-mode $delay $direction;
  -o-animation: $name $duration $fill-mode $delay $direction;
  -ms-animation: $name $duration $fill-mode $delay $direction;

}
@mixin animation-no-linear($name, $duration, $delay, $direction){
  animation: $name $duration $delay $direction;
  -webkit-animation: $name $duration $delay $direction;
  -moz-animation: $name $duration $delay $direction;
  -o-animation: $name $duration $delay $direction;
  -ms-animation: $name $duration $delay $direction;

}
@mixin animation-no-delay($name, $duration, $fill-mode, $direction){
  animation: $name $duration $fill-mode $direction;
  -webkit-animation: $name $duration $fill-mode $direction;
  -moz-animation: $name $duration $fill-mode $direction;
  -o-animation: $name $duration $fill-mode $direction;
  -ms-animation: $name $duration $fill-mode $direction;

}
@mixin animation-delay($seconds){
  animation-delay: $seconds !important;
  -webkit-animation-delay: $seconds !important;
  -moz-animation-delay: $seconds !important;
  -o-animation-delay: $seconds !important;

}
@mixin transition-basic($duration){
  transition: $duration;
  -webkit-transition:$duration;
  -moz-transition: $duration;
  -o-transition: $duration;
  -ms-transition: $duration;

}
@mixin translateX($perc){
  transform: translateX($perc);
  -webkit-transform: translateX($perc);
  -moz-transform: translateX($perc);
  -o-transform: translateX($perc);
  -ms-transform: translateX($perc);
}
@mixin translate($xPerc, $yPerc){
  transform: translate($xPerc, $yPerc);
  -webkit-transform: translate($xPerc, $yPerc);
  -moz-transform: translate($xPerc, $yPerc);
  -o-transform: translate($xPerc, $yPerc);
  -ms-transform: translate($xPerc, $yPerc);
}
@mixin translateY($perc){
  transform: translateY($perc);
  -webkit-transform: translateY($perc);
  -moz-transform: translateY($perc);
  -o-transform: translateY($perc);
  -ms-transform: translateY($perc);
}

@mixin scale($size){
  transform: scale($size);
  -webkit-transform: scale($size);
  -moz-transform: scale($size);
  -o-transform: scale($size);
  -ms-transform: scale($size);

}
@mixin scaleY($size){
  transform: scaleY($size);
  -webkit-transform: scaleY($size);
  -moz-transform: scaleY($size);
  -o-transform: scaleY($size);
  -ms-transform: scaleY($size);

}
@mixin scaleX($size){
  transform: scaleX($size);
  -webkit-transform: scaleX($size);
  -moz-transform: scaleX($size);
  -o-transform: scaleX($size);
  -ms-transform: scaleX($size);

}

@mixin skewY($deg){
  transform: skewY($deg);
  -webkit-transform: skewY($deg);
  -moz-transform: skewY($deg);
  -o-transform: skewY($deg);
  -ms-transform: skewY($deg);
}
@mixin rotate($deg){
  transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  -ms-transform: rotate($deg);
}
@mixin opacity($trans){
  opacity: $trans;
  -khtml-opacity: $trans;
  -moz-opacity: $trans;
}

@mixin positionAtScreenSize($screenSize, $position, $top, $left){

    @media only screen and (max-width: $screenSize){
      position: $position !important;
      top: $top !important;
      left: $left !important;

    }

}

@mixin displayAtScreenSize($screenSize){

      display: none;

    @media only screen and (max-width: $screenSize){

      display: inline-block;

    }
}
